/* CSS Reset */

html, body, h1, h2, h3, h4, h5, h6, a, p, ol, ul, li, div, span, 
blockquote, img, small, strong, b, em, i, u, sup, sub, form, label, 
legend, table, caption, tbody, thead, tr, th, td, article, nav, 
aside, section, header, footer, figure, figcaption, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
}

html {
    box-sizing: border-box;
    font-size: 10px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

*:focus {
    outline: none;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th {
    text-align: inherit;
}

blockquote,
q {
    quotes: none;
}

strong, b {
    font-weight: bold;
}

em, i {
    font-style: italic;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

sub {
    vertical-align: sub;
    font-size: smaller;
}

small {
    font-size: small;
}

/* General */

body {
    color: #fff;
    line-height: normal;
    font-weight: normal;
    font-size: 15px;
    font-size: 1.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    background-color: rgba(21, 32, 43);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: none;
}

a {
    color: rgba(29, 161, 242);
    text-decoration: none;
    transition: all .3s ease-in-out; 
}

a:hover {
    color: rgba(26, 145, 218);
}

p {
    margin-top: 0;
    margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
    color: #fff;
    font-weight: 700;
}

h1 {
    font-size: 38px;
    margin-bottom: 40px;
}

h2 {
    font-size: 28px;
    margin-bottom: 30px;
}

h3 {
    font-size: 22px;
    margin-bottom: 20px;
}

h4 {
    font-size: 19px;
    margin-bottom: 15px;
}

h5 {
    font-size: 16px;
    margin-bottom: 10px;
}

h6 {
    font-size: 12px;
}

.button {
    display: inline-block;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-family: inherit;
    background-color: rgba(29, 161, 242);
    border: 1px solid rgba(29, 161, 242);
    padding: 6px 20px;
    border-radius: 50px;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    transition: all .25s ease;
    text-align: center;
}

.button:hover {
    background-color: rgba(26, 145, 218);
    color: #fff;
}

.button--secondary {
    color: rgba(29, 161, 242);
    background: transparent;

}

input[type="text"] {
    background-color: rgb(37, 51, 65);
    border: 0;
    padding: 11px 15px;
    width: 100%;
    border-radius: 50px;
    font-size: 15px;
    color: #fff;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

::placeholder { 
    color: rgba(136, 153, 166);
}

:-ms-input-placeholder { 
    color: rgba(136, 153, 166);
}

::-ms-input-placeholder {
    color: rgba(136, 153, 166);
}

.color--black {
    background-color: #000;
}

.color--white {
    color: #fff;
}

.color--grey {
    color: rgba(136, 153, 166);
}

.color--darkgrey {
    color: rgba(21, 32, 43);
}

.color--blue {
    background-color: rgba(26, 145, 218);
}

.color--darkblue {
    color: rgba(26, 145, 218);
}

.background--black {
    background-color: #000;
}

.background--white {
    background-color: #fff;
}

.background--darkgrey {
    background-color: rgba(21, 32, 43)
}

.background--blue {
    background-color: rgba(26, 145, 218);
}

.background--darkblue {
    background-color: rgba(26, 145, 218);
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.right {
    float: right;
}

.left {
    float: left;
}

.clearfix {
    clear: both;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.inline {
    display: inline;
}

/* Grid */

.grid {
    margin-left: -30px;
    font-size: 0;
}

.grid--flex {
    display: flex;
}

.col {
    padding-left: 30px;
    display: inline-block;
    font-size: inherit;
}

.col--1-of-1 {
    width: 100%;
}

.col--2-of-4,
.col--1-of-2 {
    width: 50%;    
}

.col--1-of-3 {
    width: 33.3333%;    
}

.col--1-of-4 {
    width: 25%;
}

.col--2-of-3 {
    width: 66.6666%;
}

@media only screen and (max-width: 1000px) {
    .col--md-1-of-1 {
        width: 100%;
    }
}

@media only screen and (max-width: 365px) {
    .col--sm-1-of-1 {
        width: 100%;
    }
}

/* Globals */

.container {
    max-width: 990px;
    margin: 0 auto;
    padding: 0 10px;
}

@media only screen and (max-width: 999px) {
    .container {
        max-width: 600px;
        position: relative;
    }
}

/* HEADER: START */

.header {
    border-bottom: 1px solid rgba(56, 68, 77);
    background-color: rgba(21, 32, 43);
    position: fixed;
    left: 0;
    top: 0;
    padding: 9px 0;
    width: 100%;
    height: 53px;
    z-index: 9;
}

@media screen and (max-width: 999px) {
    .header {
        height: 115px;
    }
}

.header .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.header_logo a {
    color: #fff;
    font-size: 30px;
    margin-right: 20px;
}

.header_search {
    width: 100%;
    max-width: 525px;
    position: relative;
}

@media screen and (max-width: 999px) {
    .header_search {
        max-width: calc(100% - 90px);
    }
}

.header_search input {
    padding: 8px 15px 8px 45px;
    width: 100%;
}

.header_search-icon  {
    position: absolute;
    left: 15px;
    top: 50%;
    font-size: 18px;
    transform: translateY(-50%);
}

.header_links {
    margin-left: auto;
}

.header_links a {
    vertical-align: middle;
}

.header_links a ~ a {
    margin-left: 10px;
}

.header_links a:last-of-type {
    font-size: 20px;
    margin-left: 15px;
}

@media screen and (max-width: 999px) {
    .header_links {
        width: 100%;
    }
    .header_links a {
        width: 48%;
        margin-top: 20px;
        float: left;
    }
    .header_links a ~ a {
        margin-left: 2%;
    }
    .header_links a:last-of-type {
        position: absolute;
        right: 15px;
        width: auto;
        top: 12px;
        margin: 0;
    }
}

/* HEADER: END */

/** MAIN: START **/

.main {
    padding-top: 53px;
}

@media only screen and (max-width: 999px) {
    .main {
        padding-top: 115px;
    }
}

.main .container {
    display: flex;
    flex-wrap: wrap;
}

.main_left {
    border-left: 1px solid rgba(56, 68, 77);
    border-right: 1px solid rgba(56, 68, 77);
    width: 100%;
    max-width: 600px;
}

@media screen and (max-width: 999px) {
    .main_left {
        width: 100%;
        max-width: 100%;
    }
}

.main_banner img {
    width: 100%;
}

.main_profile {
    padding: 0 15px 15px 15px;
}

.main_profile-image {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main_profile-image img {
    display: inline-block;
    margin-top: -85px;
    width: 140px;
    height: 140px;
    border-radius: 100%;
    overflow: hidden;
    border: 4px solid rgba(21, 32, 43);
}

.main_profile-name {
    padding-top: 5px;
}

.main_profile-name h1 {
    font-size: 19px;
    font-weight: bold;
    margin: 0 2px 0 0;
    vertical-align: middle;
}

.main_profile-name img {
    max-width: 22px;
    vertical-align: middle;
}

.main_profile-name span {
    font-size: 15px;
    margin: 0 0 10px 0;
    font-weight: normal;
}

.main_profile-birth p {
    margin: 10px 0;
    font-size: 15px;
}

.main_profile-birth p i {
    margin-right: 5px;
}

.main_profile-birth p i ~ i {
    margin-left: 10px;
}

.main_tabs-links {
    display: flex;
}

.main_tabs-link {
    -webkit-box-flex: 1;
    flex-grow: 1;
    text-align: center;
    padding: 15px;
    position: relative;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    color: rgba(136, 153, 166);
}

.main_tabs-link.js--active {
    color: rgba(26, 145, 218);
    border-color: rgba(26, 145, 218);
}

.main_tabs-item {
    display: none;
    border-bottom: 1px solid rgba(56, 68, 77);
    border-top: 1px solid rgba(56, 68, 77);
}

.main_tabs-item.js--active {
    display: block;
}

.main_article {
   display: flex;
   padding: 10px 15px 5px 10px;
   transition: all .3s ease;
}

.main_article:hover {
    background: rgba(25, 39, 52);
}

.main_article-left {
    max-width: 50px;
    text-align: right;
    width: 100%;
    margin-right: 10px;
}

.main_article-left .main_article-icon {
    font-size: 13px;
    margin-bottom: 5px;
}

.main_article-left img {
    border-radius: 100%;
}

.main_article-right > span {
    font-size: 13px;
    padding-bottom: 5px;
    display: block;
}

.main_article-right .main_article-name h4 {
    font-size: 15px;
    font-weight: bold;
    margin: 0 2px 0 0;
    vertical-align: middle;
}

.main_article-right .main_article-name img {
    max-width: 18px;
    vertical-align: middle;
}

.main_article-right .main_article-name i {
    float: right;
    font-size: 10px;
}

.main_article-right .main_article-utility {
    display: flex;
}

.main_article-right .main_article-utility li {
    flex: 1;
}

.main_article-right .main_article-utility i {
    margin-right: 10px;
}

.main_article-right .main_article-more {
    margin-top: 10px;
    display: inline-block;
}

.main_tabs hr {
    background-color: rgb(37, 51, 65);
    height: 10px;
    border: 0;
    margin: 0;
}

/* aside */

.main_right {
    padding: 10px 0 10px 20px;
}

@media screen and (max-width: 999px) {
    .main_right {
        width: 100%;
        padding-left: 0;
        padding-top: 20px;
    }
}

@media screen and (max-width: 364px) {
    .main_tabs-links {
        display: flex;
        white-space: nowrap;
        width: 100%;
        overflow-y: auto;
    }
}

.main_right .box {
    border-radius: 14px;
    border: 1px solid rgba(56, 68, 77);
    overflow: hidden;
}

.main_right .box ~ .box {
    margin-top: 15px;
}

.main_signup {
    padding: 10px 10px 15px 10px;
}

.main_signup h4 {
    margin: 0 0 10px 0;
}

.main_signup p {
    font-size: 13px;
    margin: 0 0 15px 0;
}

.main_signup a {
    width: 100%;
}

.main_gallery {
    display: flex;
    flex-wrap: wrap;
}

.main_gallery .image {
    height: 100px;
    flex: 1 0 33.333%;
    background:url(../images/banner.jpg) no-repeat right;
}

.main_gallery .image {
    border: 1px solid rgba(21, 32, 43);
}

.main_suggestions {
    background: rgba(25, 39, 52);
    border: 0 !important;
}

.main_suggestions > * {
    border-bottom: 1px solid rgba(56, 68, 77);
}

.main_suggestions h4 {
    padding: 10px 15px;
    margin: 0;
}

.main_suggestions-item {
    display: flex;
    align-items: center;
    padding: 15px;
}

.main_suggestions-item > img {
    max-width: 50px;
    border-radius: 100%;
    margin-right: 10px;
}

.main_suggestions-name img {
    max-width: 18px;
    vertical-align: middle;
}

.main_suggestions-name h5 {
    font-size: 15px;
    font-weight: bold;
    margin: 0 2px 0 0;
    vertical-align: middle;
    display: inline-block;
}

.main_suggestions-item > a {
    margin-left: auto;
}

.main_suggestions > a {
    margin-left: auto;
    border-bottom: 0;
    margin: 15px;
    display: inline-block;
}

.main_trends {
    background: rgba(25, 39, 52);
    border: 0 !important;
}

.main_trends h4 {
    padding: 10px 15px;
    margin: 0;
    border-bottom: 1px solid rgba(56, 68, 77);
}

/* copyright */

.copyright {
    padding: 20px 15px;
    font-size: 13px;
}

.copyright a {
    display: inline-block;
    color: rgba(136, 153, 166);
    margin-right: 10px;
    margin-bottom: 5px;
}

.copyright a:hover {
    text-decoration: underline;
}

.copyright a i {
    font-size: 10px;
}

.copyright span {
    display: block;
}

/** MAIN: END **/